/.idea
/node_modules
/yarn-error.log
/docs/.vuepress/dist/*
/*/target
/*/.idea
/*/*.iml
/*/mvnw
/*/.idea
/*/.mvn
/*/HELP.md
/*/mvnw.cmd
/*/testdb.log
/*/testdb.properties
/*/testdb.script

springboot-rabbitmq/.idea

