/.idea
/node_modules
/yarn-error.log
/docs/.vuepress/dist/*
/*/target
/*/*/target
/*/.idea
/*/*/.idea
/*/*.iml
/*/*/*.iml
/*/mvnw
/**/mvnw
/*/.mvn
/**/.mvn
/*/HELP.md
/**/HELP.md
/*/mvnw.cmd
/*/testdb.log
/*/testdb.properties
/*/testdb.script

springboot-rabbitmq/.idea

